@font-face {
  font-family: 'Playfair Display';
  src: url('fonts/playfair-display-v40-latin-regular.woff2') format('woff2');
  font-weight: 400;       /* Normal weight */
  font-style: normal;
  font-display: swap;    /* Prevents invisible text while loading */
}

/* 2. Register the Bold weight */
@font-face {
  font-family: 'Playfair Display';
  src: url('fonts/playfair-display-v40-latin-italic.woff2') format('woff2');
  font-weight: 400;       /* Bold weight */
  font-style: italic;
  font-display: swap;
}

:root{
    --primary-color: #3B3030;
    --secondary-color: #664343;
    --third-color: #795757;
    --fourth-color: #FFF0D1;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display';
}
/* Text styling  */
.large-text{
    font-size: 6rem;
    color: var(--primary-color);
}
.small-text{
    font-size: .75rem;

}


/* Page layout styling */
.full-page{
    height: 100vh;
    display: flex;
}
.full-page .left{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fourth-color);
}
.full-page .right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}
.right form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hidden{
    display: none;
}
#link-btn{
    background-color: transparent;
    color: var(--fourth-color);
}


/* Elements styling */

button{
    background-color: var(--fourth-color);
    color: var(--primary-color);
    border: 2px solid var(--secondary-color);
    padding: 8px 20px ;
    border-radius: 8px;
    font-size: larger;
    width: 250px;
}
button:hover{
    color: var(--fourth-color);
    border: 2px solid var(--third-color);
    background-color: var(--secondary-color);
}
input{
    border: 2px solid var(--secondary-color);
    padding: 6px 10px;
    border-radius: 8px;
    width: 250px;
    font-size: larger;
}
input:focus{
    outline: none;
}



.testing-page{
    height: 100vh;
    background-color: red;
}
/* .testing-page h1{
    text-align: center;
    color: var(--primary-color);
    background-color: var(--fourth-color);
    font-family: 'Playfair Display';
    padding: 10px;
    font-style: italic;
    display: flex;
    flex-direction: column;
} */
.apis{
    display: flex;
}
.apis #left-apis ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.apis #left-apis {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: 80vh;
}
#left-apis button{
    background-color: transparent;
    font-size: 14px;
    border: none;
    padding: 0;
}
#left-apis button:hover{
    color: black;
    font-weight: bold;
}
.apis #right-apis-about{
    background-color: pink;
    min-height: 80vh;
}
#right-apis-about{
    display: flex;
    justify-content: center;
    align-items: center;
}